.text-brand {
  color: var(--color-brand);
  font-weight: 600;
}

.text-span {
  color: var(--color-brand);
}

.uppercase {
  text-transform: uppercase;
}

.color-brand-dark {
  color: var(--color-brand-dark);
}
