:root {
  --color-hero: #faf4ea;
  --color-brand: #819b57;
  --color-brand-dark: #465929;
  --color-radio: #73835a;
  --color-text: #31261a;
  --color-footer: #a18268;
  --color-line: #cfcfbc;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
