.chef-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  @media screen and (min-width: $bp-desktop) {
    gap: 30px;
  }

  &__foto {
    width: 140px;
    border-radius: 2px 2px 2px 116px;
    box-shadow: -12px 12px 0 0 var(--color-hero),
      -12px 12px 0 1px var(--color-footer);

    @media screen and (min-width: $bp-desktop) {
      width: 240px;
      border-radius: 4px 4px 4px 200px;
      box-shadow: -16px 16px 0 0 var(--color-hero),
        -16px 16px 0 2px var(--color-footer);
    }
  }

  &__text {
    margin-bottom: 24px;
    font-size: 14px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 40px;
    }
  }
}
